@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700;900&display=swap');

*{
    scroll-behavior: smooth;
    scroll-padding: 9.5ch;
    --text-col : black;
    --border-col : grey;
    --accent-col : grey;
    --secondary-font-size : 0.8em;
    /* --border-col : #000861 */
}

body {
    margin: 0;
    padding: 0;
    font-size: x-large;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5ch 1ch;
    background-color: white;
    border-bottom: 1px var(--border-col) solid;
    z-index: 50;
}

nav>img {
    height: 3.5ch;
}

nav>.right {
    display: inline-block;
    font-size: var(--secondary-font-size);
}

nav>.right>a {
    margin-right: 0.5ch;
}

nav>.right>a :nth-of-type(n) {
    margin-right: 0;
}

.lander {
    padding: 1ch;
    height: 60vh;
    background: #5452fb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: background-animation 20s infinite ;
}

@keyframes background-animation {
    0% {background-color: #5452fb;}
    50% {background-color: #000861;}
    100% {background-color: #5452fb;}
}

.lander>span {
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
}

.event{
    margin : 1ch auto;
    padding: 1ch;
    border-radius: 1ch;
    border: 1px solid var(--border-col);
    width: 80%;
}

h1 {
    position: relative;
    font-size: 2em;
    font-weight: 450;
    width: max-content;
    margin: 2.5rem auto;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--text-col);
    bottom: 0;
    left: 0;
}

h2 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0;
}

h4 {
    font-weight: 400;
    font-size: 1em;
    margin: 0 0 2ch 0;
    padding: 0;
    color: var(--accent-col);
}

.content {
    font-size: 0.9em;
    margin-bottom: 1ch;
}


a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

footer {
    padding: 2ch 0;
    display: grid;
    grid-template-columns: 70vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-top: 1px solid var(--border-col);
}

footer > div {
    margin: auto;
}

.srm-map {
    width: 50vw;
    height: 30vw;
}

.left {
    width: 100%;
    margin-bottom: 1ch;
    display: grid;
    grid-template-columns: repeat(3,10ch);
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: var(--accent-col);
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right > div {
    margin-bottom: 1ch;
}

.cc {
    margin: 2ch 0 0 0;
    font-size: 0.6em;
    color: grey;
}

::-webkit-scrollbar {
    display: none;
}

.text-center {
    text-align: center;
}

h3 {
    font-size: var(--secondary-font-size);
    font-weight: 300;
    margin: 0.25ch 0 1.25ch 0;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery>img {
    max-width: 28vh;
    margin: 0.25ch;
}

.register {
    font-size: 0.9em;
    margin-top: 1ch;
    color: white;
    /* text-decoration: underline; */
    font-weight: 500;
    position: relative;
    border-bottom: white 1px solid;
}

.register::after {
    content: '>';
    position: absolute;
    right: 0;

    animation: register 1s infinite cubic-bezier(0.53, 0.46, 0.75, 0.66);
}

@keyframes register {
    0% {transform: translate(120%);}
    50% {transform: translate(180%);}
    100% {transform: translate(120%);}
}